.content-section .inner {
  margin-top: 120px;
  padding: 10px;
  box-sizing: border-box;
}

.content-section .inner .write-box {
  padding: 30px;
  position: relative;
}

.content-section .inner .write-box .board-title,
.content-section .inner .write-box .board-content {
  box-sizing: border-box;
  font-size: 23px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}
.content-section .inner .write-box .board-title {
  height: 60px;
  margin-bottom: 20px;
}
.content-section .inner .write-box .board-content {
  height: 600px;
  resize: none;
}
.content-section .inner .write-box .btn{
  margin-top: 10px;
  position: absolute;
  bottom: -36px;
  right: 34px;
}
